@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:root {
  --second-family: "Barlow", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.header__top {
  background-color: #B36050;
}

.header__title {
  padding: 10px 0 9px 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  color: #f1d3b9;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header__twoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}

.header__img {
  margin-left: 140%;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-transform: capitalize;
  color: #b4604d;
}

.header__twoLink {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #b45f4d;
}

.header__market {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #b45f4d;
}
.header__market::before {
  content: " ";
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("../img/market.svg");
  background-position: left;
}

.header__items {
  margin-top: 19px;
}

.header__twoItemas {
  margin-top: 19px;
}

.header__nav {
  background-color: #F6F4EC;
}

.header__shop {
  background-color: #A9AE8D;
  padding-bottom: 52px;
  text-align: center;
}

.header__subTitle {
  margin-top: 69px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #f6f4ec;
}

.header__text {
  margin-bottom: 28px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 33px;
  line-height: 194%;
  text-align: center;
  color: #f6f4ec;
}

.header__btn {
  margin-top: 28px;
  padding: 9px 20px 10px 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 169%;
  color: #fff;
  background-color: #B45F4D;
}

.hero {
  background-color: #F6F4EC;
  padding-bottom: 39px;
}

.hero__name {
  font-weight: 400;
  font-size: 23px;
  line-height: 170%;
  text-transform: capitalize;
  text-align: center;
  color: #b45f4d;
  padding-top: 39px;
}

.hero__link {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  margin-top: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #b45f4d;
}

.hero__price {
  margin-top: 23px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #b45f4d;
}

.decoration__box {
  background-image: url("../../img/decors.png");
  width: 1170px;
  height: 407px;
  margin-top: 34px;
  margin-bottom: 46px;
}

.decoration__list {
  padding: 31px 29px 32px 29px;
  background-color: #DE9A7A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.decoration__items1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
  color: #f6f4ec;
}

.decoration__items {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #f6f4ec;
}

.decoration__block {
  padding-top: 23%;
}

.content {
  background-color: #F1D3B9;
}

.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__block {
  padding-top: 97px;
  padding-bottom: 67px;
}

.content__title {
  margin-top: 134px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 192%;
  color: #b45f4d;
}

.content__text {
  margin-top: 22px;
  margin-left: 42px;
  margin-right: 42px;
  font-weight: 400;
  font-size: 19px;
  line-height: 160%;
  color: #b45f4d;
}

.content__words {
  margin-left: 42px;
  margin-top: 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #b45f4d;
}

.content__items2 {
  background-color: #fff;
  width: 500px;
  height: 750px;
}

.about__name {
  margin-top: 55px;
  font-weight: 400;
  font-size: 23px;
  line-height: 170%;
  text-transform: capitalize;
  text-align: center;
  color: #000;
}

.about__link {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.foter {
  background-color: #F6F4EC;
}

.foter__block {
  padding-top: 57px;
  padding-bottom: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 119px;
}

.footer__text {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #b45f4d;
}

.footer__twoText {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #c17c6c;
}

.footer__twoTekst {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 0%;
  padding: 15px 10px 15px 0;
  text-align: end;
  color: #b45f4d;
  border: 2px solid #B45F4D;
}

.foter__words {
  padding-top: 18px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #c17c6c;
  border-top: 1px solid #b45f4d;
}/*# sourceMappingURL=main.css.map */