.about__name{
    margin-top: 55px;
    font-weight: 400;
    font-size: 23px;
    line-height: 170%;
    text-transform: capitalize;
    text-align: center;
    color: #000;
}

.about__link{
    margin-top: 43px;
    display: flex;
    gap: 7px;
}