.content{
    background-color: #F1D3B9;
}

.content__list{
    display: flex;
    justify-content: space-between;
}

.content__block{
    padding-top: 97px;
    padding-bottom: 67px;
}

.content__title{
    margin-top: 134px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 192%;
    color: #b45f4d;
}

.content__text{
    margin-top: 22px;
    margin-left: 42px;
    margin-right: 42px;
    font-weight: 400;
    font-size: 19px;
    line-height: 160%;
    color: #b45f4d;
}

.content__words{
    margin-left: 42px;
    margin-top: 41px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #b45f4d;
}

.content__items2{
    background-color: #fff;
    width: 500px;
    height: 750px;
}